---
import Bio from "../components/Bio.astro"
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro"

const allPosts = await Astro.glob("./posts/*.md")

---
<MainLayout>
	<div class="flex flex-col bg-gray-900 mt-32 font-sans">
		<Bio />
		<div>
				{
					allPosts.map((post => <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h2"
          />))
				}
		</div>
	</div>
</MainLayout>
