---

// utils imports
import { slugify, formatDate } from "../js/utils";

const { frontmatter, url, tagType } = Astro.props;

const Tag = tagType;

const { title, date, description } = frontmatter;
---
<style>
  .hover-effect {
    transition: border-color 1s;
  }

  .hover-effect:hover {
    border-bottom: solid white;
  }

  .hover-effect:hover::before {
    width: 100%;
  }
</style>


<article class="card  my-12 flex flex-col space-x-32">
  <a href={url} aria-hidden="true" tabindex="-1">
  </a>
  <div class="content">
    <div>
      <Tag class="h3">
        <a href={url} class="hover-effect font-black text-lg">{title}</a>
      </Tag>
      <small>
        {
          formatDate(date)
        }
      </small>
    </div>
    <p>{description}</p>
  </div>
</article>