---
// library 

// utils imports
import { slugify, formatDate } from "../js/utils";

const { title, date} = Astro.props;
---

<header>
  <div class="container flex flex-col justify-center items-center">
    <h1 class="h2">{title}</h1>
    <p>
      {
        formatDate(date)
      }
    </p>
  </div>
</header>