---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Document</title>
    </head>
    <body>
        <div class="flex flex-col md:flex-row gap-5 justify-center p-5 text-white">
            <div class="flex flex-col gap-4 flex-grow-0 text-lg w-1/2 leading-8">
              <h1 class="text-xl sm:text-xl lg:text-7xl font-extrabold mb-2">
                Hi, I'm Dorjee.
              </h1>
              <div class="text-gray-400 font-semibold flex flex-col gap-2 w-3/4">
                <p>
                  I love creating web application with my code. I am a huge fan of data analytics and machine learning.
                </p>
                <p>
                  I've recently been learning about algorithms, operating systems and Cloud Computing. I like ranch on most of my food and hate mint ice cream.
                </p>
                <p>
                  I'm currently based in New York City but also in general as well.
                </p>
              </div>
              <div class="flex flex-col gap-2">
                
              </div>
            </div>
            <div class="max-w-xs">
                <img src="https://media.discordapp.net/attachments/1013305564777959475/1140086304508489800/IMG_0016.png?width=799&height=671"></img>
                </div>
          </div>
    </body>
</html>