---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Document</title>
    </head>
    <body>
        <div class="flex flex-col md:flex-row gap-5 justify-center p-5 text-white">
            <div class="flex flex-col gap-4 flex-grow-0 text-lg w-1/2 leading-8">
              <h1 class="text-xl sm:text-xl lg:text-5xl font-900 mb-2">
                Hi, I'm Dorjee.
              </h1>
              <div class="color-text-400 flex flex-col gap-2">
                <p>
                  I love creating web application with my code. I am a huge fan of data 
                </p>
                <p>
                  I've recently been learning about reverse engineering, security, and
                  internet censorship. I like both kpop and metal, and think pineapple
                  belongs on pizza.
                </p>
                <p>
                  I'm currently based in <del class="color-text-100 -rotate-9 inline-flex"
                    >Turkey</del
                  >
                   Türkiye, Istanbul but also in general as well.
                </p>
              </div>
              <div class="flex flex-col gap-2">
                
              </div>
            </div>
            <div class="max-w-xs">
                <img src="https://media.discordapp.net/attachments/1013305564777959475/1140086304508489800/IMG_0016.png?width=799&height=671"></img>
                </div>
          </div>
    </body>
</html>