---
import MainLayout from "./MainLayout.astro"

console.log('test');
const { frontmatter } = Astro.props;
console.log(frontmatter);

---

<MainLayout title="My Blog">
    <header>
        <div class="container">

        </div>
    </header>
</MainLayout>